body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url('/static/patients/images/homepage1b.jpg');
}

header {
    background: none;
    padding: 10px;
    font-size: 10px;
}

header h1 {
    margin: 0;
}

main {
    padding: 0;
}

footer {
    background: none;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
}

.patient-register-root, .patient-login-root {
  background-size: cover; 
  width: 100vw;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container,  .login-container {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.register-container h2, .login-container h2 {
    text-align: center;
}

.register-container form, .login-container form {
    font-size: 12px;
}

.create-account {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.form-control, .inputfield {
    border: 1px solid #FFF;
    border-radius: 10px;
    background: none;
    color: #FFF;
    padding: 5px;
    margin: 10px 0px;
    font-family: 'Roboto', sans-serif;
}

.registerbutton, .login-button {
    border: 1px solid #7734e7;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    pading: 10px;
    margin: 10px 0px;
    color: #FFF;
    background-color: #7734e7;
    height: 40px;
}

.registerbutton:hover, .login-button:hover {
    background-color: #0132fc;
    cursor: pointer;
}

.messages {
    color: red;
    font-size: 12px;
}

/* PATIENT DASH*/
.patient-dash-root{
    background: #FFF;
    color: black;
}
.patient-info {
    max-height: 30vh;
    display: flex;
    border: 1px solid red;
}

.profil-container {
    width: 18%;
    border: 1px solid red;
    margin: 20px;
}

.profil-container img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid red;
}

.info-container {
    width: 80%;
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
}

.info-container h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.info-container p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.info-container a {
    font-size: 12px;
    text-decoration: none;
}




