{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation n{{appointment.id}}</title>
    <link rel="stylesheet" href="{% static 'doctors/css/doc_dash_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="doctor-dash-root">
    <header>
        <h1>Bikisa</h1>
    </header>
    <div class="appointment-detail-root">
      <h2>Detail de la consultation</h2>
      <p>Consultation ID: {{ appointment.id }}</p>
      <p>Consultation demande par le patient: {{ appointment.patient }}</p>
      <p>Demande pour le {{appointment.date}} a {{appointment.time}}</p>
      <p>Syptoms: {{ appointment.reason }}</p>
      {% if appointment.status == 'Approved' %}
        <a href="{% url 'doctor_video' %}" target="_blank" class="start-video-call">Demarrez une consultation video</a> <br><br><br>
        <a href="{% url 'submit_video_link' appointment.id %}" target="_blank" class="submit-video-link">Partager le lien de la consultation</a>   
      {% endif %}
    </div>
<footer>
        <p>&copy; 2023 Bikisa</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
    </body>
</html>